<div class="container">

    <br/>
    <br/>

    <div class="row">
        <div class="col-9">
            <h2>Transactions Table</h2>
        </div>

        <!-- button to go to Add product page using router link -->
        <div class="col">
            <button type="button" class="btn btn-success" routerLink="addTransaction" style="background-color: #609966;"><i class="bi bi-plus-circle"></i> &nbsp; Add Transaction</button>
        </div>
    </div>
    <br/>

    <!-- creating a table and checking if employees exist -->
    <table *ngIf="transactions.length > 0" class="table table-striped" style="background-color: #EDF1D6;">
        <thead>
            <tr>
            <th scope="col">Transaction Id</th>
            <th scope="col">Transaction Code</th>
            <th scope="col">Transaction Description</th>
            <th scope="col">Transaction Value</th>
            </tr>
        </thead>
        <tbody>

            <!-- using ng for to display all the employees data inside the table -->
            <tr *ngFor="let transaction of transactions">
                <td>{{transaction.Id}}</td>
                <td>{{transaction.TransactionCode}}</td>
                <td>{{transaction.TransactionDescription}}</td>
                <td>{{transaction.TransactionValue}}</td>
                
                <td>
                    <!-- button to go to edit product page using routerLink -->
                    <button type="button" class="btn btn-dark" routerLink="editTransaction/{{transaction.Id}}"><i class="bi bi-pencil"></i> &nbsp; Edit</button>
                    &nbsp; &nbsp;
                    <!-- button to delete the product from the table -->
                    <button type="button" class="btn btn-danger" (click)="deleteTransaction(transaction.Id)"><i class="bi bi-trash"></i> &nbsp; Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>